<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EC Sensor Controller</title>
  <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>

<body>

  <button id="btn_all_start" value="btn_all_start" name="btn_all_start">All Day Start</button>
  <button id="btn_stop" value="btn_stop" name="btn_stop">Stop</button>

  <script type=text/javascript>
    var allday_btn = document.getElementById("btn_all_start");
    var stop_btn = document.getElementById("btn_stop");
    allday_btn.onclick = allday_btn_func;
    stop_btn.onclick = stop_btn_func;
  </script>

  <br>
  <input type="text" id="input_text" name="input_text" placeholder="ex., CO_25ppm">
  <br>
  <button id="btn_ex_start_555" value="btn_ex_start_555" name="btn_ex_start_555">555 Experiment Start</button> <!--555 means baseline 5mins + gasin 5mins + recovery 5mins-->
  <button id="btn_ex_start_585" value="btn_ex_start_585" name="btn_ex_start_585">585 Experiment Start</button>
  <p id='ex_btn_annotation'> 555 means baseline 5mins, gas in 5mins and recovery 5mins</p>

  <script>

  var ex555_btn = document.getElementById("btn_ex_start_555");
  var ex585_btn = document.getElementById("btn_ex_start_585");
  ex555_btn.onclick = ex555_func;
  ex585_btn.onclick = ex585_func;

  </script>



</body>
</html>
